# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Flask instance folder
instance/

# node modules (如果 frontend 用 npm)
node_modules/
dist/